.ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
}

.ul li a{
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.ul li a:hover{
  background-color: grey;
  transition: .5s ease-in-out;
  border-radius: 10px;
}
.container{
  display: flex;
  box-shadow: 0 0 1000px rgba(0,0,0,1.0);
  background-color: lightgray;
  justify-content: center;
}